body{
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif; 
    color: #13691f;
}

header { 
    justify-content: center;
    position: absolute; 
    top: 0px; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    z-index: 10;
    transition: transform 1.5s ease-in-out; 
}

.header-left-active {
    transform: translateX(-150px) translateY(70px) scale(1.7);
}

.header-right-active {
    transform: translateX(150px) translateY(70px) scale(1.7);
}
header img {
    height: 80px;
    width: auto;
}


.container {
    display: flex;
    height: 100vh;
    width: 100%;
}
button{
    font-size: 2rem;
    color: #13691f;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
    border: none;
    cursor: pointer;
}

.half {
    
    flex: 1;
    display: flex;
   
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
}

.section-label{
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}



.left-side {
    background-image: url('../Imagenes/store.jpeg');
    background-size: 120%;
    background-position-x: -140px;
}

.left-side:hover{
    transform: translateX(100px) scale(1.5) ;
    transition: all 1.5s ease;
    transition-delay: 1s;
    background-position-x: 70px;    
    background-position-y: 50px;
    background-size: 85%;
    width: 60% ;
}

.left-side:hover .section-label{
    transform: translateX(100px) ;
    transition: all 1.5s ease;
    transition-delay: 1s;
    margin-right: 100px;
    margin-bottom: 200px;

}   

.right-side {
    background-size: 125%;

    background-image: url('../Imagenes/link.jpeg');
}




.right-side:hover{
    transform: translateX(-100px) scale(1.5) ; 
    transition: all 1.5s ease;
    transition-delay:300ms;
    background-position-x: -100px;
    background-position-y: -20px;
    background-size: 108%;
    align-items: center;

    width: 60%;
}
.right-side:hover .section-label{
    transform: translateX(-100px)  ;
    transition: all 1.5s ease;
    transition-delay:300ms;
    margin-left: 100px;
    margin-bottom: 200px;
    
}

